/* catalog main */
.about_main {
    height: calc(100vh - 120px);
    position: relative;
    background: #f2f2f2;
    overflow: hidden;
}
.about_main img {
    float: right;
}
.about_title {
    position: absolute;
    left: 46%;
    margin: 20px auto;
    display: block;
    z-index: 2;
    color: #666;
    text-transform: uppercase;
}
/* catalog main end */
/* about  */
.about_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #666;
    padding: 20px;
}
.about_content_title {

    font-size: 65px;
    padding-bottom: 5px;
}
