.contact_page {
    width: 100vw;
}
iframe {
    /* width: 100%; */
}
.contact_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact_detail_info {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0 10px;
}
.contact_detail_info {
    padding: 20px 0;
}
.detail_info li {
    padding: 5px;
}
.message_info {
    display: flex;
    flex-direction: column;
}
input[type="text"], textarea {
    margin: 10px 0;
    padding: 10px 5px;
}
.send {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
    background-color: #6dcff6;
}